$border-radius: 4px;

$primary: #409EFF;
$success: #67C23A;
$warning: #E6A23C;
$danger: #F56C6C;
$info: #909399;


$primary-hover: #66b1ff;
$success-hover: #85ce61;
$warning-hover: #ebb563;
$danger-hover: #f78989;
$info-hover: #a6a9ad;

$primary-active: #3a8ee6;
$success-active: #5daf34;
$warning-active: #cf9236;
$danger-active: #dd6161;
$info-active: #82848a;

$default-disabled-bgcolor:#fff;
$primary-disabled-bgcolor:#ecf5ff;
$success-disabled-bgcolor:#f0f9eb;
$warning-disabled-bgcolor:#fdf6ec;
$danger-disabled-bgcolor:#fef0f0;
$info-disabled-bgcolor:#f4f4f5;

$default-disabled-bordercolor:#ebeef5;
$primary-disabled-bordercolor:#d9ecff;
$success-disabled-bordercolor:#e1f3d8;
$warning-disabled-bordercolor:#faecd8;
$danger-disabled-bordercolor:#fde2e2;
$info-disabled-bordercolor:#e9e9eb;

$default-disabled-color:#c0c4cc;
$primary-disabled-color:#8cc5ff;
$success-disabled-color:#a4da89;
$warning-disabled-color:#f0c78a;
$danger-disabled-color:#f9a7a7;
$info-disabled-color:#bcbec2;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
